In [4]:
import pandas as pd
from corpustool.models import *
from django.db.models import *

In [5]:
lemmas = Lemma.objects.all()

In [6]:
len(lemmas)

28737

In [8]:
pd.DataFrame(lemmas.annotate(count = Count('token__occurence')).values('count')).describe()

              count
count  28737.000000
mean      56.281588
std     1069.108516
min        1.000000
25%        1.000000
50%        1.000000
75%        4.000000
max    74424.000000